body{
    font-family: 'Source Serif Pro', serif;
    margin: 0;
}
span{
    color: yellow;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    text-align: justify;
    padding-right: 40px;
}
.flexable-container{
    display: flex;
    margin-bottom: 50px;
   
}
.top-banner{
    
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-right: 40px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
    margin-left: 40px;
    
}
.link-button{
    text-decoration: none;
    background: steelblue;
    color: white;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
}
.photo-intro{
    text-align: center;
}
.working-process{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.laptop-img{
    width: 70%;
}
.work{
    padding-top: 40px;
}
.flexable-container img{
    width: 63%;
}